_________________________________________________________________________________
/                                                                                \
  _____ __  _  __ __
 / ___/|  |/ ]|  |  |SKY - Security Warning
(   \_ |  ' / |  |  |
 \__  ||    \ |  ~  |
 /  \ ||     ||___, |You are about to access networks and systems provided
 \    ||  .  ||     |by a SKY company for the conduct of its business.
  \___||__|\_||____/

 IF YOU ARE NOT  AUTHORISED BY SKY TO ACCESS THESE NETWORKS & SYSTEMS YOU
 MUST  IMMEDIATELY STOP AND CLOSE  DOWN AND / OR LOG OFF, AS  APPROPRIATE SO
 THAT THE  COMPUTER YOU ARE USING IS SECURED FROM  FURTHER UNAUTHORISED USE.
 Failure  to do so may result in  disciplinary action, contract  termination
 and / or criminal prosecution.

 If you are authorised by SKY to access  these networks and systems, your
 use  of them will be subject  to conditions of use  as set out in contract.
 By  continuing to use these  networks and systems you confirm  that you are
 aware of  the  conditions of  use and  agree to  comply  with them.  CACI
 reserves the  right to monitor  and / or record  the use  by any  person of
 SKY networks and/or systems and to  take action as appropriate to ensure
 such use complies with the conditions of use.

                       You are logged in to {{ansible_hostname}}
\________________________________________________________________________________/
